html {
    background-color: #002B5B;
}

.mainSiteBox {
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 100%;
    margin: 0 auto;
    background-color: #1A5F7A;
    min-height: 95vh;
}

hr { 
    display: block;
    border: 0.1vh inset;
    width: 65vw;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    color: white;
    background-color: brown;
    display: block;
    height: 50px;
}

footer {
    display: grid;
    grid-template-columns: 45vw auto 60px 60px 60px auto 45vw;
    position: fixed;
    bottom: 0;
    width: 100%;
    color: white;
    background-color: brown;
    height: 50px;
    align-content: space-around;
}

.personalPageLink {
    width: 40px;
    margin-top: 0.5vh;
}

.introDescription{
    margin-top: 3%;
    text-align: left;
    margin-left: 3%;
}

h1 {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}



/* HOME */

#name {
    margin-left: 2%;
}

#linkBox {
    display: inline;
    float: right;
    margin-right: 3%;
}

.pageLink {
    display: inline;
    color:white;
    text-decoration: none;
}

#inspirationalQuote {
    color: beige;
    font-family: 'Courier New', Courier, monospace;
    font-size: 200%;
    text-align: center;
    font-style: italic;
}

#introText {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: left;
    margin-left: 3%;
}

/* ABOUT */

#aboutPageText {
    background-color: #1A5F7A;
}

.activityTitle {
    text-align: center;
}

.activity {
    text-align: justify;
    margin-left: 2.5%;
    margin-right: 2.5%;
    padding: 2%;
    padding-top: none;
    font-size: large;
}


.image {
    width: 25%;
}

.image.basketball {
    float: left;
    margin-right: 2%;
}

.image.cycling {
    float: right;
    margin-left: 2%;
}

.image.hiking {
    float: left;
    margin-right: 2%;
}

/* PORTFOLIO */

.project {
    display: block;
    background-color: grey;
    margin: 0% 5% 0% 5%;
    border: 2px solid brown;
}

.projectTitle {
    margin-left: 2.5%;
}

.projectImg {
    width: 20%;
    margin: 2.5%;
}

.projectImg.one, .projectImg.three {
    float: right;
}

.projectImg.two {
    float: left;
}

.textPortfolio {
    margin: 2.5%;
    text-align: justify;
}

.portfolioBox { 
    border: solid 0.1vw black;
    color: black;
    width: 60vw;
}

/* CONTACT */

.formOutline {
    display: flex;
    flex-direction: column;
    max-width: 20vw;
    align-items: center;
    min-width: 69vw;
}

#contactPageTopText {
    text-align: center;
}


